<a [routerLink]="['/listings']">Back</a>

<h2 class="page-header">Add listing</h2>

<form [formGroup]="myForm" (ngSubmit)="onAddSubmit(myForm.value)">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="title" formControlName="title">
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" type="text" name="city" formControlName="city">
  </div>
  <div class="form-group">
    <label>Owner</label>
    <input class="form-control" type="text" name="owner" formControlName="owner">
  </div>
  <div class="form-group">
    <label>Bedrooms</label>
    <input class="form-control" type="number" name="bedrooms" formControlName="bedrooms">
  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="form-control" name="type" formControlName="type">
      <option value="Estate">Estate</option>
      <option value="Condo">Condo</option>
      <option value="Apartment">Apartment</option>
    </select>
  </div>

  <div class="form-group">
    <label>Image</label>
    <input class="form-control" type="file" id="image" name="image" (change)="detectFile($event)">
  </div>

  <div class="form-group">
    <label>Price</label>
    <input class="form-control" type="text" name="price" formControlName="price">
  </div>

  <input type="submit" value="Submit" class="btn btn-primary">
</form>